<form [formGroup]="actionForm" class="action-add-form">

  <!-- Action name input -->
  <mat-form-field>
    <mat-label>Action Name</mat-label>
    <input matInput placeholder="Enter Gate Name" formControlName="actionName" required>
  </mat-form-field>

  <!-- Stage select -->
  <mat-form-field>
    <mat-label>Stage</mat-label>
    <mat-select [formControl]="stageControl" name="stage">
      <mat-option *ngFor="let stage of stageList; let i = index" [value]="stage.value">
        {{ stage.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Field select -->
  <mat-form-field>
    <mat-label>Field to set</mat-label>
    <mat-select [formControl]="fieldControl" name="field">
      <mat-option *ngFor="let field of fieldList; let i = index" [value]="field">
        {{ field.fieldName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Date type radio buttons -->
  <mat-radio-group formControlName="dateType">
    <mat-radio-button value="userDate" checked=true style="display: block;">
      user set date
    </mat-radio-button>
    <mat-radio-button value="systemDate">
      system calculated date
    </mat-radio-button>
  </mat-radio-group>

  <span>Today</span>
  <!-- Operator ('+' or '-') select -->
  <mat-form-field>
    <mat-label>+ | -</mat-label>
    <mat-select formControlName="operation">
      <mat-option value="add">+</mat-option>
      <mat-option value="subtract">-</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Days count input -->
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input type="number" matInput placeholder="Enter Gate Name" formControlName="daysCounter" required>
  </mat-form-field>
  <span>Days</span>

  <button mat-raised-button color="primary" (click)="addAction()">Add Field</button>
</form>